.top_container{
    background-color: #f17b91;
    height: 10vh;
    border-radius: 10px;
}


.top_container img{
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
main{
    background-color: rgb(238, 238, 238); 
    height: 200vh;
    position: relative;
    margin: 30px 10px 0px 10px;
    border-radius: 15px;
    
}


/* Sections in the top bar  */

.top_sections{
    list-style: none;
    margin: 0px;
    text-align: right;
    padding-right: 15vw;
}

.top_sections li{
    display: inline-block;
    position: relative;
    top: -11vh;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ee5a75;
    border-color: #f14162;
}

.top_sections a:hover{
    font-size: 180%;
    transition: 1.5s;
   background-color: #ec3a5b;
   cursor: pointer;
}

.top_sections a{
    font-size: 130%;
    color: white;
}

/* about matter */

.about{
    text-align: left;
    margin-left: 5%;
    position: relative;
    top: 8vh;
}

.about h1{
    color: rgb(90, 90, 90);
    font-family: 'Montserrat', sans-serif;
}

.about p{
    color: rgb(90, 90, 90);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.about li{
    color: rgb(90, 90, 90);
    font-family: 'Montserrat', sans-serif;
}

/* Sections in the top bar  */

.top_sections{
    list-style: none;
    margin: 0px;
    text-align: right;
    padding-right: 15vw;
}

.top_sections li{
    display: inline-block;
    position: relative;
    top: -11vh;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ee5a75;
    border-color: #f14162;
}

.top_sections a:hover{
    font-size: 180%;
    transition: 1.5s;
   background-color: #ec3a5b;
   cursor: pointer;
}

.top_sections a{
    text-decoration: none;
    font-size: 130%;
    color: white;
}


.middle_heading h1{
    position: relative;
    top: 26vh;
    text-align: center;
    color: #ff6783;
    font-size: 260px;
    width: 100%;
    z-index: 55;
}

.middle_heading h1:hover{
    font-size: 260px;
    transition: 1.5s;
}

/* Bottom part  */


#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 50px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}


#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



